
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.image {
    width: 100%;
    height: auto;
    font-size: 0px;
    object-fit: contain;
    transform: scale(1) translate(0px, 0px);
}

.imageWrapper {
    user-select: none;
    touch-action: none;
}